<form>
    <h1>Criar Nova Categoria</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
            <input matInput  type="text" name="nome" placeholder="Ex. categoria">
    </mat-form-field>
<!-- 
    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
            <datalist matInput [(ngModel)]="categoria.descricao" type="datalist" name="descricao"></datalist>
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8" mat-stroked-button color="primary">CRIAR</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
    </div> -->

</form>
